---
name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    name: Release
    runs-on: ubuntu-latest
    # for elgohr/Github-Release-Action
    permissions:
      packages: write
      contents: write
    steps:

    - name: Set up Go
      uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5  # tag=v5.5.0
      with:
        go-version: ^1.24

    - name: Check out code into the Go module directory
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683  # tag=v4.2.2
      with:
        fetch-depth: 0
        
    - name: Build
      run: |
        export VERSION=$(git describe --tags --abbrev=0 HEAD)
        GOOS=linux   ARCH=x86_64  GOARCH=amd64 make build
        GOOS=linux   ARCH=arm64   GOARCH=arm64 make build
        GOOS=linux   ARCH=arm     GOARCH=arm GOARM=7 make build
        GOOS=linux   ARCH=arm     GOARCH=arm GOARM=6 make build
        GOOS=darwin  ARCH=x86_64  GOARCH=amd64 make build
        GOOS=darwin  ARCH=arm64   GOARCH=arm64 make build
        GOOS=windows ARCH=x86_64  GOARCH=amd64 EXTENSION=.exe make build
        GOOS=windows ARCH=arm64   GOARCH=arm64 EXTENSION=.exe make build

    - name: Install fpm
      run: |
        sudo apt-get update
        sudo apt-get install -y rpm ruby ruby-dev
        sudo gem install fpm
        
    - name: Package
      run: |
        export VERSION=$(git describe --tags --abbrev=0 HEAD)
        GOOS=linux ARCH=x86_64 GOARCH=amd64 make package-deb package-rpm
        GOOS=linux ARCH=arm64  GOARCH=arm64 make package-deb package-rpm
        GOOS=linux ARCH=arm    GOARCH=arm   make package-deb package-rpm

    - name: Generate hash
      run: sha256sum dist/* > dist/netbird-exporter.sha256

    - name: Create Release
      id: create_release
      uses: elgohr/Github-Release-Action@c5ea99036abb741a89f8bf1f2cd7fba845e3313a  # tag=v5
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref }}
        title: Release ${{ github.ref }}
        draft: false
        prerelease: false
        
    - name: Upload Release Asset
      uses: actions/github-script@60a0d83039c74a4aee543508d2ffcb1c3799cdea  # tag=v7.0.1
      with:
        github-token: ${{secrets.GITHUB_TOKEN}}
        script: |
          const fs = require('fs').promises;
          const upload_url = '${{ steps.create_release.outputs.upload_url }}';
          for (let file of await fs.readdir('./dist')) {
            console.log('uploading', file);
            await github.repos.uploadReleaseAsset({
              url: upload_url,
              name: file,
              data: await fs.readFile(`./dist/${file}`)
            }); 
          }
 
